apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ template "hyperkuber.server" . }}"
  labels:
    {{- include "hyperkuber.labels" . | nindent 4 }}
data:
  config.yaml: |-
    server:
      name : "Hk-Server"
      listen : "0.0.0.0:8080"
    mysql:
    {{- if .Values.mysql.enabled }}
      host : {{ include "mysql.fullname" . | quote }}
      port : {{ .Values.mysql.service.ports.mysql }}
      username : {{ .Values.mysql.auth.username }}
      password : {{ .Values.mysql.auth.password }}
      database : {{ .Values.mysql.auth.database }}
      migerate : {{ .Values.server.db.migerate }}
    {{- else }}
      host : {{ .Values.externalMysql.host }}
      port : {{ .Values.externalMysql.port }}
      username : {{ .Values.externalMysql.username }}
      password : {{ .Values.externalMysql.password }}
      database : {{ .Values.externalMysql.database }}
      migerate : {{ .Values.server.db.migerate }}
    {{- end }}

    redis:
    {{- if eq .Values.redis.type "internal" }}
      addr : {{ include "redis.fullname" . | quote }}:{{ .Values.redis.service.ports.redis }}
      password : {{ .Values.redis.password }}
    {{- else }}
      addr : {{ .Values.externalRedis.addr }}
      password : {{ .Values.externalRedis.password }}
    {{- end }}